.profile {
  grid-area: c;
  display: grid;
  grid-template-areas:
  "infoColumn postsColumn";
  grid-template-columns: 300px 1fr;
  grid-gap: 10px;
}

.infoColumn {
  grid-area: infoColumn;
  display: grid;
  grid-template-areas:
  "profilePhoto"
  "personalInfo";
  grid-template-rows: 400px 1fr;
  grid-gap: 10px;
}

.profilePhoto {
  grid-area: profilePhoto;
  background-color: red;
}

.postCreating {
  grid-area: postCreating;
  display: flex;
  background-color: orange;
}

.postsColumn {
  grid-area: postsColumn;
  display: grid;
  grid-template-areas:
  "postCreating"
  "personalPosts";
  grid-template-rows: 400px 1fr;
  grid-gap: 10px;
}

.personalInfo {
  grid-area: personalInfo;
  background-color: orange;
  margin-bottom: 10px;
}

.personalPosts {
  grid-area: personalPosts;
  display: flex;
  flex-direction: column;
}